.container{
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .container > div > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .text {
      pointer-events: none;
      justify-content: start !important;
      font-family: 'Kanit', sans-serif;
      line-height: 0px;
      text-transform: uppercase;
    }
    
    .number {
      font-size: 450px;
      color: #373c4c;
    }
    
    .number span {
      display: inline-block;
      position: relative;
      transform: translate3d(-35%, 0, 0);
    }
    
    .header {
      margin-left: 350px;
      font-size: 70px;
      color: white;
    }
    
    .stripe {
      height: 2px;
      width: auto;
    }
    
    .slopeBegin {
      background-color: #20232f;
      clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
    }
    
    .slopeEnd {
      clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
    }
    
    .slopeBegin,
    .slopeEnd {
      position: absolute;
      width: 140%;
      height: 100%;
      cursor: pointer;
    }
    
    .pink {
      background: linear-gradient(to right, deeppink 0%, coral 100%);
    }
    
    .teal {
      background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
    }
    
    .tomato {
      background: linear-gradient(to right, tomato 0%, gold 100%);
    }
    
    #space-invader {
        box-shadow: 0 0 0 1em red,
        0 1em 0 1em red,
        -2.5em 1.5em 0 .5em red,
        2.5em 1.5em 0 .5em red,
        -3em -3em 0 0 red,
        3em -3em 0 0 red,
        -2em -2em 0 0 red,
        2em -2em 0 0 red,
        -3em -1em 0 0 red,
        -2em -1em 0 0 red,
        2em -1em 0 0 red,
        3em -1em 0 0 red,
        -4em 0 0 0 red,
        -3em 0 0 0 red,
        3em 0 0 0 red,
        4em 0 0 0 red,
        -5em 1em 0 0 red,
        -4em 1em 0 0 red,
        4em 1em 0 0 red,
        5em 1em 0 0 red,
        -5em 2em 0 0 red,
        5em 2em 0 0 red,
        -5em 3em 0 0 red,
        -3em 3em 0 0 red,
        3em 3em 0 0 red,
        5em 3em 0 0 red,
        -2em 4em 0 0 red,
        -1em 4em 0 0 red,
        1em 4em 0 0 red,
        2em 4em 0 0 red;
        background: red;
        width: 1em;
        height: 1em;
        overflow: hidden;
        margin: 50px 0 70px 65px;
      }
    